$border: 1px solid black;

$background: #f1f1f1;




$grisFond : #262626;
$noirOpa : rgba(0, 0, 0, 0.832);
$grisMat: #333;
$saumon: rgb(187, 76, 76);
$pink: #ffa7c2 ;
$red: #590212;
$red2: #8C041D;
$red3: #7e1333b8;
$bleuNuit : #011c37;
$violetForm: #6300a0;
$violet2: #483D8B;
$beigeDark: antiquewhite;
$bleuClair: #cae4e7;
$blancCasse: #f1f1f1;
$blanchi: rgb(237, 246, 247);
$vertChimie :#15DEA5 ;



